<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

    <dashboard title="Dashboard" name="dashboard">
        <dashlet action=""/>
    </dashboard>

    <menuitem name="dashboard"
              title="Dashboard"
              action="dashboard-main"/>

    <action-view name="dashboard-main" title="Dashboard">
        <view type="dashboard" name="dashboard"/>
    </action-view>



    <menuitem name="menu-AOP-main"
              title="Main Menu" />
    
    <menuitem name="menu-AOP-modeule1"
              parent="menu-AOP-main"
              title="Module1"/>

    <menuitem name="module1-company-all"
              parent="menu-AOP-modeule1"
              title="Company"
                action="company-all"/>

    <menuitem name="module1-employee-all"
              parent="menu-AOP-modeule1"
              title="Employee"
            action="employee-all"/>

    <menuitem name="module1-project-all"
              parent="menu-AOP-modeule1"
              title="Project"
              action="project-all"/>
    <menuitem name="module1-task-all"
              parent="menu-AOP-modeule1"
              title="Task"
              action="task-all"/>


<!-- place to add actions for different modules-->
    <action-view name="company-all"
                 title="module1-company-all"
                 model="com.AOP.module1.db.Company">
        <view type="grid" name="company_all"/>
        <view type="form" name="company_all"/>
    </action-view>

    <action-view name="employee-all"
                 title="module1-employee-all"
                 model="com.AOP.module1.db.Employee">
        <view type="grid" name="employee_all"/>
        <view type="form" name="employee_all"/>
    </action-view>

    <action-view name="project-all"
                 title="module1-project-all"
                 model="com.AOP.module1.db.Project">
        <view type="calendar" name="project-calender-all"/>
<!--        <view type="grid" name="project_all"/>-->
        <view type="form" name="project_all"/>
    </action-view>


    <action-view name="task-all"
                 title="Task"
                 model="com.AOP.module1.db.Task">
        <view type="kanban" name="task-kanban-all"/>
<!--        <view type="grid" name="employee_all"/>-->
        <view type="form" name="task-form-all"/>
    </action-view>



</object-views>